language: python
python:
- '2.7'
install:
- pip install -r requirements.txt
- pip install coveralls
script: coverage run --source=core manage.py test
after_success: coveralls
deploy:
  provider: heroku
  api_key:
   secure: "MCOnZy0l2idbcSEmaAZdU36F56leMfWI34s6Kg53zte6pN6rlTEw2G25gh4gdS4cPiUKsmcB9ykwB/J/X8ckWE1WeoSlYBkaOx8mnzd2tFoeU1NBZWNgoayUVKwR8FbRp/7P+LEn1h7JdXvw2edp9aKSuoi9ol4vvPK0eYDxvYg="
  app: face-off-staging
  on:
    repo: excellalabs/face-off
  run: "python manage.py migrate"