{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
    <div class="page-header" id="banner">
        <div class="row text-center">
            <h2>Face Recognition App</h2>
        </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
        <div>
            <a class="btn btn-block btn-social" href="{% url 'social:begin' 'yammer' %}?next={{ request.path }}">
                <i class="fa fa-ra"></i>
                Login with Yammer
            </a>
        </div>
    </div>
{% endblock %}
