{% load replace %}
{% load resolve %}
{% load stars %}

<div class="page-header" id="banner">
    <div class="row">
        <h1 class="text-center" style="padding-top: 40px">Who is {{ answer.name }}? </h1>
    </div>
</div>

{% with cards|resolve:round as list %}
    {% for user in list %}
        <div id="colleague{{ forloop.counter0 }}" class="flip-container"
             onclick="flip('{{ forloop.counter0 }}', '{{ user.id }}')">
            <div class="flipper">
                <li class="no-bullets">
                    <div class="front">
                        <div class="brightness">
                            <img src='{{ user.mugshot|replace:"/{width}/256"|replace:"/{height}/256" }}'>
                        </div>
                    </div>
                    {% if answer.id == user.id %}
                        <div class="back panel panel-success">
                            <div class="panel-heading"><h4></h4></div>
                            <div class="panel-body">
                                <h3>{{ user.name }}</h3>

                                <h1><i class="fa fa-check-circle-o fa-6"></i></h1>
                            </div>
                        </div>
                    {% else %}
                        <div class="back panel panel-danger">
                            <div class="panel-heading"><h4></h4></div>
                            <div class="panel-body">
                                <h3>{{ user.name }}</h3>

                                <h1><i class="fa fa-times-circle-o fa-6"></i></h1>
                            </div>
                        </div>
                    {% endif %}
                </li>
            </div>
        </div>
    {% endfor %}
{% endwith %}

<ul class="text-center">
    <button id="nextRound" onclick="nextRound()" class="btn btn-primary invisible">Next
        Round
    </button>
    <form id="resultsForm" action="{% url 'core:results' %}" method="post">
        {% csrf_token %}
        {{ resultsForm }}
        <input id="resultsSubmit" type="submit" onclick="setForm()" class="btn btn-primary invisible" value="Results"/>
    </form>
</ul>

<div class="row">
    <div class="col-md-8">
        <h2>Score: {% show_stars score %}</h2>
    </div>
    <div id="countdown"></div>
</div>

<div id="startGameModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Col-League</h4>
            </div>
            {%  if '/no_photo.png' in request.user.yammer_url %}
            <div class="modal=body">
                <p class="text">Hey, {{ request.user.get_full_name }}! Click <a href="https://www.yammer.com/excella.com/#/Threads/index?type=algo">here</a>
                to upload an image and become part of the game!
                </p>
                </div>
                <div class="modal-footer">
                    <button id="nextRound" onclick="startGame()" class="btn btn-primary pull-left" data-dismiss="modal">I don't care   <i class="fa fa-meh-o" ></i></button>
                    <a class="btn btn-default" href="{% url 'auth:logout' %}?next=/">Logout</a>
                </div>
            {%  elif '/no_photo.png' not in request.user.yammer_url  %}
                <div class="modal-footer">
                    <button id="nextRound" onclick="startGame()" class="btn btn-primary pull-left" data-dismiss="modal">Start Game</button>
                    <a class="btn btn-default" href="{% url 'auth:logout' %}?next=/">Logout</a>
                </div>
            {%  endif %}
            </div>
        </div>
    </div>
</div>

<script>
    var maxRound = 4;
    var trigger = true;
    var score = {{ score }};
    var round = {{ round }};
    var timer;
    var selectedCardIndex = -1;

    $(document).ready(function () {
        if(round == 0){
            $("#startGameModal").modal('show');
        }
        else{
            startGame();
        }
    });

    function setForm(){
        $('[name=score]').val(score);
        $('[name=cardIndex]').val(selectedCardIndex);
        $('[name=results]').val('{{ cards }}');
        $('#resultsForm').submit();
    }

    function startGame(){
        timer = $("#countdown").countdown360({
            radius: 40,
            seconds: 10,
            strokeWidth: 10,
            fillStyle: '#FFFFFF',
            strokeStyle: '#0099FF',
            fontSize: 30,
            fontColor: '#000000',
            autostart: false,
            onComplete: function () {
                disableCards(0, true);
            }
        });
        timer.start();
    }

    function updateStars(starIndex){
        $('#0star-empty').removeClass('fa fa-circle-o');
        $('#0star-empty').addClass('glyphicon glyphicon-ok-sign');
    }

    function nextRound() {
        var cards = '{{ cards }}';
        formlessAjaxPostCSRFSetup();
        $.post('/rounds/', {matrix: cards, round: round, score: score, cardIndex: selectedCardIndex},
        function (data) {
            $('#cards').html(data);
        });
    }

    function flip(id, choice) {
        if (choice == '{{ answer.id }}'){
            score += 1;
            updateStars(score-1);
            selectedCardIndex= id;
        }
        $('#colleague' + id).addClass('clickFlip');
        //Interrupt countdown
        timer.stop(function () {});
        disableCards(id, false);
    }

    function renderResultsLnk(){
        $('#resultsSubmit').removeClass('invisible');
    }

    {# disable onclick on other images, disable them & present next round button#}
    function disableCards(id, disableALL) {
        if (round == maxRound) {
           renderResultsLnk();
        }
        for (var index = 0; index < maxRound; index++) {
            if (index != id || disableALL) {
                $('#colleague' + index).removeAttr('onclick');
                $('#colleague' + index).addClass('greyOut');

                if (round < maxRound) {
                    $('#nextRound').removeClass('invisible');
                }
            }
        }
    }
</script>