{% load replace %}
{% load resolve %}
{% load stars %}

<div class="page-header" id="banner">
    <div class="row">
        <h4 class="pull-right" style="margin-top: 3%; margin-right: 3%;">Round {{ round|add:"1" }}/5</h4>
        <h1 class="text-center" style="padding-top: 40px">Who is {{ answer.name }}? </h1>
    </div>
</div>

{% with cards|resolve:round as list %}
    {% for user in list %}
        <div id="colleague{{ forloop.counter0 }}" class="flip-container"
             onclick="flip('{{ forloop.counter0 }}', '{{ user.id }}')">
            <div class="flipper">
                <li class="no-bullets">
                    <div class="front">
                        <div>
                            <a href="#" class="thumbnail">
                            <img src='{{ user.mugshot|replace:"/{width}/256"|replace:"/{height}/256"}}'>
                            </a>
                        </div>
                    </div>
                    {% if answer.id == user.id %}
                            <div class="back panel panel-success">
                                <div class="panel-heading"><h4></h4></div>
                                <div class="panel-body">
                                    <h3>{{ user.name }}</h3>
                                    <h1><i class="fa fa-check-circle-o fa-6"></i></h1>
                                </div>
                            </div>
                    {% else %}
                        <div class="back panel panel-danger">
                            <div class="panel-heading"><h4></h4></div>
                            <div class="panel-body">
                                <h3>{{ user.name }}</h3>

                                <h1><i class="fa fa-times-circle-o fa-6"></i></h1>
                            </div>
                        </div>
                    {% endif %}
                </li>
            </div>
        </div>
    {% endfor %}
{% endwith %}

<div class="row">
    <div class="col-md-8">
        <h2>Round: {% show_stars score %}</h2>
    </div>
    <div id="countdown"></div>
    <div id="nextRoundCountdown"></div>
</div>

<ul class="text-center">
    <form id="resultsForm" action="{% url 'core:results' %}" method="post">
        {% csrf_token %}
        {{ resultsForm }}
        <input id="resultsSubmit" type="submit" onclick="setForm()" class="btn btn-primary invisible" value="Results" style="width: 160px; height: 60px"/>
    </form>
</ul>

<div class="row">
    <button id="nextRound" onclick="nextRound()" class="btn btn-primary invisible" style="width: 160px; height: 60px">Next
        Round
    </button>
</div>

<div id="startGameModal" class="modal fade"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Face Off</h4>
            </div>
            {%  if '/no_photo.png' in request.user.yammer_url %}
                <div class="modal-body">
                    <div id="noPicText" class="">
                        <p class="text">Hey, {{ request.user.get_full_name }}! Click <a href="{{ request.user.upload_image_url }}">here</a>
                        to upload an image and become part of the game!
                        </p>
                    </div>
                    <div id="addGameText" class="invisible">
                        <p class="text"> Get ready to play! The clock starts when
                        you select your mode!</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="noPicMenu" class="">
                        <button id="noPicButton" onclick="showGameMenu()" class="btn btn-primary btn-block">I don't care   <i class="fa fa-meh-o" ></i></button>
                        <a class="btn btn-default btn-block" onclick="yammerLogout()">Logout</a>
                    </div>
                    <div id="gameMenu" class="invisible">
                             <button type="button" id="easyGame" onclick="startEasyGame()" class="btn btn-primary btn-block" data-dismiss="modal">Educational</button>
                            <button type="button" id="hardGame" onclick="startHardGame()" class="btn btn-primary btn-block" data-dismiss="modal">Competitive</button>
                            <a class="btn btn-default btn-block" onclick="yammerLogout()">Logout</a>
                    </div>
                </div>
            {%  elif '/no_photo.png' not in request.user.yammer_url  %}
                <div class="modal-body">
                    <p class="text"> Get ready to play! The clock starts when
                    you select your mode!</p>
                </div>
                <div class="modal-footer">
                    <div id="gameMenu">
                            <button type="button" id="easyGame" onclick="startEasyGame()" class="btn btn-primary btn-block" data-dismiss="modal">Educational</button>
                            <button type="button" id="hardGame" onclick="startHardGame()" class="btn btn-primary btn-block" data-dismiss="modal">Competitive</button>
                           <a class="btn btn-default btn-block" onclick="yammerLogout()">Logout</a>
                    </div>
                </div>
            {%  endif %}
        </div>
    </div>
</div>

<script>
    var maxRound = 4;
    var trigger = true;
    var score = {{ score }};
    var round = {{ round }};
    var timer;
    var selectedCardIndex = -1;
    var easyGame = 'easy';
    var gameMode;

    $(document).ready(function () {
        if(round == 0){
            $("#startGameModal").modal('show');
        }
        else{
            if(gameMode != easyGame)
                startHardGame();
            else
                startEasyGame();

        }
    });

    function showGameMenu(){
        $('#gameMenu').removeClass('invisible');
        $('#noPicMenu').addClass('invisible');
        $('#noPicText').addClass('invisible');
        $('#addGameText').removeClass('invisible');
    }

    function setForm(){
        $('[name=score]').val(score);
        $('[name=cardIndex]').val(selectedCardIndex);
        $('[name=results]').val('{{ cards }}');
        $('#resultsForm').submit();
    }

    function startEasyGame(){
        startTimer();
        gameMode = easyGame;
    }

    function startHardGame(){
        startTimer();
    }

    function startTimer(){
        timer = $("#countdown").countdown360({
            radius: 40,
            seconds: 10,
            strokeWidth: 10,
            fillStyle: '#FFFFFF',
            strokeStyle: '#0099FF',
            fontSize: 30,
            fontColor: '#000000',
            autostart: false,
            onComplete: function () {
                disableCards(0, true);
            }
        });
        timer.start();
    }

    function updateStars(starIndex){
        $('#0star-empty').removeClass('fa fa-circle-o');
        $('#0star-empty').addClass('glyphicon glyphicon-ok-sign');
    }

    function nextRound() {
        var cards = '{{ cards }}';
        formlessAjaxPostCSRFSetup();
        $.post('/rounds/', {matrix: cards, round: round, score: score, cardIndex: selectedCardIndex},
        function (data) {
            $('#cards').html(data);
        });
    }

    function flip(id, choice) {
        if (choice == '{{ answer.id }}'){
            score += 1;
            updateStars(score-1);
            selectedCardIndex= id;
        }

        $('#colleague' + id).addClass('clickFlip');

        //Interrupt countdown
        timer.stop(function () {});
        disableCards(id, false);
    }

    function flipNoScore(id) {
        var card = $('#colleague' + id);
        if(card.hasClass('clickFlip'))
            card.removeClass('clickFlip');
        else
            card.addClass('clickFlip');
    }

    function renderResultsLnk(){
        $('#resultsSubmit').removeClass('invisible');
    }

    {# disable onclick on other images, disable them & present next round button#}
    function disableCards(id, disableALL) {
        for (var index = 0; index < maxRound; index++) {
            var card = $('#colleague' + index);
            if(gameMode != easyGame){
                 if (index != id || disableALL) {
                    card.removeAttr('onclick');
                    card.addClass('greyOut');
                }
            }
            else{
                card.addClass('clickFlip');
                card.removeAttr('onclick');
                card.attr('onclick', 'flipNoScore(' + index + ')');
            }
        }
        if (gameMode != easyGame) {
            $("#countdown").hide();
            var nextRoundTimmer = $("#nextRoundCountdown").countdown360({
                radius: 40,
                seconds: 3,
                strokeWidth: 10,
                fillStyle: '#FFFFFF',
                strokeStyle: '#ff001a',
                fontSize: 30,
                fontColor: '#000000',
                autostart: false,
                onComplete: function () {
                    if(round < maxRound){
                        nextRound();
                    }
                    else{
                        setForm();
                    }

                }
            });
            nextRoundTimmer.start();
        }
        else if (round == maxRound) {
           renderResultsLnk();
        }
        else if(round < maxRound){
            $('#nextRound').removeClass('invisible');
        }


    }
</script>