{% extends 'base.html' %}
{% load replace %}

{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
        </div>
    </div>


    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h3>Colleagues Encountered Graph<h3>
        </div>
        <div class="panel-body center-block" >
            <div id="colleaguesEncountered">
                <svg style="overflow: scroll" width="650" height="600" viewBox="0 0 1200 1400" preserveAspectRatio="xMidYMid">
                </svg>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3>Top 10 Globally Known Colleagues!<h3>
        </div>
        <div class="panel-body center-block">
            <div id="globalTen" style="width: 60%; margin-left:20%">
                <canvas id="globalTenGraph"></canvas>
            </div>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading text-center">
            <h3>People you should get to know!<h3>
        </div>
        <div class="panel-body center-block">
            <div id="getToKnow">
                <ul class="text-center">
                    {% for item in leastknown %}
                        <div class="resultCards">
                            <h5>{{ item.name }}</h5>
                            <a href="{{ item.yammer_url }}" class="thumbnail">
                                <img src='{{ item.img_url|replace:"/{width}/100"|replace:"/{height}/100"}}'>
                            </a>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            document.title = 'Metrics';
            loadGlobalTopTenGraph();
            loadColleaguesEncounteredGraph();
            $(window).trigger('resize');
        });

        function loadGlobalTopTenGraph() {
             new Chart(document.getElementById("globalTenGraph").getContext("2d")).Bar(globalTopTenGraph(), {
                responsive: true
            });
        }
        function loadColleaguesEncounteredGraph() {
                nv.addGraph({
                    generate: function() {
                        var chart = nv.models.multiBarHorizontalChart()
                            .x(function (d) {
                                return d.label
                            })
                            .y(function (d) {
                                return d.value
                            })
                            .margin({top: 30, right: 30, bottom: 10, left: 30})
                            .showValues(false)           //Show bar value next to each bar.
                            .tooltips(true)             //Show tooltips on hover.
                            .barColor(d3.scale.category20().range())
                            .showControls(true);        //Allow user to switch between "Grouped" and "Stacked" mode.

                        chart.yAxis
                                .tickFormat(d3.format('d'));

                         chart.tooltipContent(function(key, y, e, graph) {
                            return '<h5>' + y + ' : '+ e + '</h5>';
                        });

                        d3.select('#colleaguesEncountered svg')
                                .datum({{ data|safe }})
                                .transition().duration(500)
                                .call(chart);

                        nv.utils.windowResize(chart.update);
                        chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

                        return chart;
                    }
                });
        }


        function globalTopTenGraph() {
            var labels = {{ names|safe }};
            var times_correct = {{ times_correct }};

            var barChartData = {
                labels: labels,
                datasets: [
                    {
                        fillColor: "rgba(51, 102, 153,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: times_correct
                    }
                ]

            };

            return barChartData
        }
    </script>
{% endblock %}

