{% extends 'base.html' %}
{% load replace %}
{% load static %}

{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <div class="text-center inline-block" style="margin-top: 3%">
                <a id="endGame" href="{% url 'core:cards' %}" class="btn btn-primary">Play Again!</a>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3>Your Results<h3>
            <h5>Here are all the Excellians you guessed correctly and incorrectly. The more you play, the better you’ll get!</h5>
        </div>
        <div class="panel-body center-block">
            <div id="colleaguesEncountered">
                <svg style="overflow: scroll" width="650" height="600" viewBox="0 0 1200 1400"
                     preserveAspectRatio="xMidYMid">
                </svg>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3>Excellians You Should Get to Know!<h3>
            <h5>Got stuck on a few names? Click on the Excellians below to go to their Yammer profiles and get to know them better.</h5>
        </div>
        <div class="panel-body center-block">
            <div id="getToKnow">
                <ul class="text-center">
                    {% for item in leastknown %}
                        <div class="resultCards">
                            <a href="{{ item.yammer_url }}" class="thumbnail">
                                <img src='{{ item.img_url|replace:"/{width}/100"|replace:"/{height}/100"}}'>
                            </a>
                            <h5>{{ item.name }}</h5>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3>The Most-Known Excellians<h3>
            <h5>Here are the top 10 most-known Excellians from Face Off. Who do you know below?</h5>
        </div>
        <div class="panel-body center-block">
            <div id="globalTen" style="width: 60%; margin-left:20%">
                <canvas id="globalTenGraph"></canvas>
            </div>
        </div>
    </div>

    <div class="text-center inline-block" style="margin-top: 3%">
        <a id="endGame" href="{% url 'core:cards' %}" class="btn btn-primary">Play Again!</a>
    </div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static "js/metricGraphs.js" %}"></script>
{% endblock %}

