{% extends 'base.html' %}

{% block content %}

<div class="page-header" id="banner">
    <div class="row">
        <h1 class="text-center" style="margin-top:10%">
            Colleague Metrics
        </h1>
    </div>
</div>
<div class="row">
    <div style="width: 50%; margin-left:20%">
        <canvas id="graph" height="10%" width="30%" ></canvas>
    </div>
</div>


<script>
    var labels = '{{ names }}';
    labels = labels.split(';');
    var known = {{ known }};
    var imgs = '{{ mugs }}';
    imgs = imgs.split(';');

	var barChartData = {
		labels : labels,
		datasets : [
			{
				fillColor : "rgba(51, 102, 153,0.5)",
				strokeColor : "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data : known
			}
		]

	};
	window.onload = function(){
		var ctx = document.getElementById("graph").getContext("2d");
		window.myBar = new Chart(ctx).Bar(barChartData, {
			responsive : true
		});
	};

</script>
{% endblock %}

