.invis{
    display:none
}

.greyOut {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
    display: inline-block;
}

/* custome click flip class */
.clickFlip .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper .front{
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 256px;
    height: 256px;
}

.no-bullets {
    list-style-type: none;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.brightness img{
    opacity: 0.4;
    filter: alpha(opactiy=40);
}

.brightness img:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);
}