.fa-times-circle-o:before {
    content: "\f05c";
    color: red !important;
}

.fa-check-circle-o:before {
    content: "\f05d";
    color: green !important;
}

.glyphicon-ok-sign{
    color:green !important;
    font-size:24px !important;
}

.fa-circle-o{
    font-size: 24px !important;
}

.negative {
    fill:#d67777 !important;
    stroke:#d67777 !important;
}

.positive {
    fill:#4f99b4 !important;
    stroke:#4f99b4 !important;
}